@use "@styles/func";
@use "@styles/mixins" as *;
@use "@styles/variables";

.root {
	display: flex;
	flex-direction: column;
	max-width: 1312px;
	width: 100%;
	margin: 0 auto 128px;

	gap: 150px;

	@include tablet {
		padding: 0 12px;
		gap: 100px;
	}

	@include tablet-small {
		margin: 0 auto 33px;
	}

	&__title {
		font-family: var(--font-inter);
		font-weight: 500;
		font-size: 54px;
		line-height: 120%;
		color: #121212;

		@include tablet {
			font-size: 52px;
		}

		@include tablet-small {
			font-size: 32px;
		}
	}

	&__cases {
		display: flex;
		gap: 32px;

		@include tablet {
			flex-direction: column;
			gap: 180px;
		}

		@include tablet-small {
			gap: 80px;
		}
	}
}

.view_all {
	position: relative;
	display: flex;
	align-items: flex-end;
	background-color: var(--color-red-accent);
	border-radius: 32px;
	padding: 40px;
	min-width: 727px;
	min-height: 474px;
	cursor: pointer;
	transition: background-color 0.3s ease;

	&:hover {
		background-color: var(--color-black);
	}

	&__title {
		font-family: var(--font-inter);
		font-size: 40px;
		font-weight: 600;
		line-height: 150%;
		color: white;
	}

	&__icon {
		position: absolute;
		top: 24px;
		right: 24px;
	}

	@include tablet-small {
		min-width: 0;
		min-height: 355px;
		padding: 24px;

		&__title {
			font-size: 32px;
		}

		&__icon {
			top: 16px;
			right: 16px;
		}
	}
}
