@use "@styles/func";
@use "@styles/mixins" as *;
@use "@styles/variables";

.root {
	display: flex;
	justify-content: center;
}

.treaty {
	height: 500px;
	width: 100%;
	max-width: 1410px;
	margin: 0 10px;
	position: relative;
	overflow: hidden;

	display: flex;
	justify-content: space-around;
	align-items: center;

	margin-top: 50px;
	border-radius: 22px;

	background-color: var(--color-black);

	@include tablet {
		flex-wrap: wrap;
		justify-content: flex-start;
		gap: 30px;
	}

	@include tablet-small {
		height: 644px;
	}

	&__info {
		display: flex;
		flex-direction: column;
		gap: 24px;

		@include tablet {
			margin: 50px 50px 0;
		}

		@include tablet-small {
			margin: 45px 28px 0;
		}

		a {
			@include tablet-small {
				text-align: center;

				height: 74px;
				width: 283px;

				padding: 16px 24px;
			}
		}
	}

	&__title {
		font-size: 48px;
		line-height: 120%;
		color: var(--color-white-default);

		@include desktop {
			font-size: 38px;
		}

		@include tablet {
			font-size: 38px;
		}

		@include tablet-small {
			font-size: 28px;
		}
	}

	&__cards {
		height: 100%;
		display: flex;
		gap: 26px;
		z-index: 1;

		@include tablet {
			margin: 50px 50px 0;
		}

		@include tablet-small {
			flex-direction: column;
			height: auto;
		}
	}

	&__card {
		display: flex;
		flex-direction: column;
		gap: 16px;

		background-color: var(--color-white-default);
		height: 70%;
		padding: 20px 30px;
		width: 256px;
		max-width: 256px;

		&__top {
			border-radius: 0 0 20px 20px;
			justify-content: flex-end;

			@include tablet-small {
				border-radius: 0 20px 20px 0;
				margin-left: -50px;
			}
		}

		&__bottom {
			border-radius: 20px 20px 0 0;
			align-self: flex-end;

			@include tablet-small {
				margin-bottom: -50px;
				padding-bottom: 200px;
			}
		}

		&__title {
			font-size: 32px;
			line-height: 120%;
			font-weight: 600;
			color: var(--color-red-gradient-start);
		}

		&__subtitle {
			font-size: 14px;
			line-height: 120%;
			color: #161616;
			align-self: flex-end;
			text-align: right;
		}
	}
}
