@use "@styles/func";
@use "@styles/mixins";
@use "@styles/variables";

.root {
	display: flex;
}

.awesome {
  color: var(--color-red-gradient-start);
  display: inline-block;
  perspective: 1000px;
  transform-style: preserve-3d;
	position: relative;
	align-items: center;

	span {
		display: inline-block;
		white-space: nowrap;
		width: 150px;
		text-align: left;
	}
}

@keyframes blink {
	50% {
		opacity: 0;
	}
}
