@use "@styles/func";
@use "@styles/mixins";
@use "@styles/variables";

.root {
	display: flex;
}

.awesome {
  color: var(--color-red-gradient-start);
  display: inline-flex;
	position: relative;
	align-items: center;

	span {
		display: inline-block;
		white-space: nowrap;
	}
}

@keyframes blink {
	50% {
		opacity: 0;
	}
}
