@use "@styles/func";
@use "@styles/mixins";
@use "@styles/variables";

.root {
	margin: 0 auto;
	padding: 51px 88.5px;

	.conversion {
		display: flex;
		width: 470%;
		height: 100vh;

		background: top url('../../../public/images/background__lines__scroll.png');
	}
}
