@use '@styles/func';
@use '@styles/variables';
@use '@styles/mixins';

.root {
  @include mixins.reset-btn;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  border-radius: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-white-default);
  background: linear-gradient(256.01deg, var(--color-red-gradient-start) -7.55%, var(--color-red-gradient-end) 74.55%);
  cursor: pointer;
  transition: variables.$transition;
  transition-property: color, background-color;
  outline: none;
  user-select: none;

  &_sm {
    height: func.rem(48);
    padding: func.rem(12) func.rem(20);
  }

  &_md {
    height: func.rem(56);
    padding: func.rem(15) func.rem(32);
  }

  &_white {
    color: var(--color-black-default);
    background-color: var(--color-white-default);
  }

  &:hover {
    color: var(--color-red-gradient-start);
    background: var(--color-white-hover);
    border: 1px solid var(--color-red-gradient-start)
  }

  &:active {
    background: var(--color-grey-light);
  }

  &:disabled {
    color: var(--color-black);
    background-color: var(--color-grey-hover);
    pointer-events: none;
  }
}
