@use "@styles/func";
@use "@styles/mixins" as *;
@use "@styles/variables";

.root {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;

	@include tablet-small {
		gap: 16px;
	}

	.text {
		display: flex;
		flex-direction: column;
		gap: 20px;
		max-width: 746px;

		@include tablet-small {
			gap: 16px;
		}

		h2 {
			font-family: var(--font-inter);
			font-size: 42px;
			font-weight: 500;
			line-height: 132%;
			color: #16181B;

			@include tablet-small {
				font-size: 32px;
			}
		}

		h3 {
			font-family: var(--font-inter);
			font-size: 32px;
			font-weight: 500;
			line-height: 132%;
			color: #16181B80;

			@include tablet-small {
				font-size: 32px;
			}
		}

		p {
			font-family: var(--font-inter);
			font-size: 20px;
			font-weight: 400;
			line-height: 150%;
			color: #16181B60;
			display: flex;
			flex-direction: column;
			gap: 10px;

			@include tablet-small {
				font-size: 16px;
			}

			ul {
				list-style: disc;
				margin-left: 20px;
			}
		}
	}

	.imageWrapper {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;

		&.narrowImage {
			justify-content: flex-start;

			img {
				max-width: 100%;
				width: 100%;
				object-fit: contain;
			}
		}

		img {
			max-width: 100%;
			height: auto;
			display: block;
		}

		@include tablet-small {
			width: calc(100% + 24px);

			&.narrowImage {
				margin: 0;
				width: 100%;
			}
		}
	}
}
