/* stylelint-disable selector-class-pattern */
/* stylelint-disable color-function-notation */
@use "@styles/func";
@use "@styles/mixins" as *;
@use "@styles/variables";

.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: #00000030;
	z-index: 1000;
	display: flex;
	justify-content: center;
	align-items: center;
	backdrop-filter: blur(15px);

	&__content {
		background-color: white;
		border-radius: 40px;
		padding: 20px;

		width: 100%;
		max-width: 1088px;
		height: 100%;
		max-height: 854px;

		box-shadow: 0 0 10px rgba(0, 0, 0, 25%);
		position: relative;

		overflow: hidden auto;

		display: flex;
		flex-direction: column;

		@include tablet-small {
			padding: 12px;

			max-width: 336px;
			max-height: 671px;

			border-radius: 20px;
		}

		/* Hide scrollbar for Chrome, Safari and Opera */
		&::-webkit-scrollbar {
			display: none;
		}

		/* Hide scrollbar for IE, Edge and Firefox */
		-ms-overflow-style: none;  /* IE and Edge */
		scrollbar-width: none;  /* Firefox */

		.close {
			width: 39px;
			height: 39px;
			position: fixed;
			cursor: pointer;
			background: center no-repeat url("../../shared/assets/icons/close_modal.svg");
			z-index: 10000;

			align-self: flex-end;

			@include tablet-small {
				width: 28px;
				height: 28px;
				background-size: 28px 28px;
			}
		}

		.content {
			height: 2950px;

			&__first {
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
				height: 100%;
				position: relative;
				overflow: visible;
				max-height: 1000px;

				@include tablet-small {
					justify-content: flex-start;

					max-height: 400px;
				}

				.title {
					font-family: var(--font-inter);
					font-weight: 500;
					font-size: 100px;
					letter-spacing: -2%;
					line-height: 100%;
					color: var(--color-black);

					z-index: 1;

					padding-left: 62px;
					padding-top: 55px;

					margin-bottom: 33px;

					@include tablet-small {
						padding-left: 0;
						padding-top: 57px;

						font-size: 38px;

						margin-bottom: 10px;

					}

					&__icon {
						width: 50px;
						height: 50px;

						@include tablet-small {
							width: 24px;
							height: 24px;
						}

						svg {
							width: 50px;
							height: 50px;

							@include tablet-small {
								width: 24px;
								height: 24px;
							}
						}
					}
				}

				.text {
					color: #18181880;
					font-family: var(--font-inter);
					font-size: 26px;
					line-height: 150%;
					font-weight: 400;
					margin-left: 70px;

					align-self: flex-start;

					max-width: 467px;
					z-index: 2;

					margin-right: 37px;

					@include tablet-small {
						max-width: 100%;

						font-size: 16px;
						margin: 0;
					}

					&__accent {
						font-weight: 600;
					}
				}

				.lines {
					position: absolute;

					top: 130px;
					left: 222px;

					@include tablet-small {
						top: 128px;
						left: -24px;
					}

					img {
						@include tablet-small {
							width: 348px;
							height: 365px;
						}
					}
				}
			}

			&__favour {
				display: flex;
				padding-top: 110px;

				.favour {
					display: flex;
					gap: 20px;

					@include tablet-small {
						flex-direction: column;

						gap: 12px;

						margin: 0 auto;
					}

					li {
						width: 336px;
						padding: 24px 32px;
						justify-content: space-between;

						@include tablet-small {
							width: 312px;
							padding: 36px 16px;
							justify-content: flex-start;
						}

						h2 {
							font-size: 26px;
							text-align: left;
							line-height: 120%;

							align-self: flex-start;

							margin-bottom: 8px;

							@include tablet-small {
								font-size: 22px;
							}
						}

						img {
							margin: 0;

							@include tablet-small {
								display: none;
							}
						}

						p {
							align-self: flex-start;

							font-family: var(--font-manrope);
							font-weight: 400;
							font-size: 14px;
							line-height: 150%;
						}

						button {
							display: none;
						}
					}
				}
			}

			&__result {
				display: flex;
				flex-direction: column;
				gap: 36px;

				padding: 81px 0;

				@include tablet-small {
					padding: 0;

					margin: 32px 0;

					gap: 18px;
				}

				.result__title {
					font-family: var(--font-inter);
					font-weight: 500;
					font-size: 64px;
					line-height: 100%;
					letter-spacing: -0.02em;
					color: var(--color-black);
					max-width: 692px;

					@include tablet-small {
						font-size: 32px;
					}
				}

				.result__points {
					transform: translateY(-18%) translateX(-2%);

					margin-bottom: -230px;

					@include tablet-small {
						transform: translateY(0) translateX(0);
						margin-bottom: 0;
					}

					.result__list {
						display: flex;
						position: relative;
						flex-direction: column;
						gap: 20px;

						padding-left: 24px;

						@include tablet-small {
							gap: 12px;

							padding-left: 0;
						}

						.list__point {
							font-size: 24px;
							line-height: 150%;
							font-weight: 500;
							letter-spacing: -1%;

							width: 503px;
							height: 150px;

							display: flex;
							gap: 10px;
							align-items: flex-start;
							position: relative;

							border-radius: 25px;

							background-color: #FFF;

							box-shadow: 0 0 3px rgba(0, 0, 0, 25%);

							padding: 25px 40px;

							@include tablet-small {
								padding: 10px 12px;

								width: 313px;
								height: 108px;

								font-size: 14px;

								width: 100%;
							}

							&:nth-child(1) {
								align-self: flex-end;

								@include tablet-small {
									align-self: flex-start;
								}
							}

							&:nth-child(2n) {
								align-self: flex-end;

								@include tablet-small {
									align-self: flex-start;
								}
							}

							&:nth-child(3) {
								position: relative;
								transform: translateY(-170%);

								@include tablet-small {
									transform: translateY(0) translateX(0);
									align-self: flex-start;
								}
							}

							&::before {
								content: '';
								background-image: url("../../shared/assets/icons/accept.svg");
								background-size: contain;
								background-repeat: no-repeat;
								width: 28px;
								height: 28px;
								flex-shrink: 0;
								top: 5px;
								position: relative;

								@include tablet-small {
									width: 20px;
									height: 20px;

									background-image: url("../../shared/assets/icons/accept_mob.svg");
								}
							}
						}

					}
				}
			}
		}
	}
}

.list__point__accent {
	font-weight: 400;
	max-width: 410px;
	font-size: 20px;
	position: absolute;
	color: #16181B;
	opacity: 0.8;
	letter-spacing: -0.01em;
	font-family: var(--font-inter);
	left: 80px;

	@include tablet-small {
		left: 41px;
		font-size: 14px;
		max-width: 259px;
	}
}
