@use "@styles/func";
@use "@styles/mixins" as *;
@use "@styles/variables";

.root {
	display: flex;
	margin: 0 0 101px;
}

.introduce {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	max-width: 1050px;
	margin: 0 auto;
	gap: 28px;

	&__title {
		text-align: center;

		font-size:74px;
		line-height: 120%;

		@include tablet {
			font-size: 54px;
		}

		@include tablet-small {
			font-size: 38px;
		}

		@include mobile-large {
			font-size: 28px;
		}

		&__awesome {
			color: var(--color-red-gradient-start);
		}
	}
}
