@use "@styles/func";
@use "@styles/mixins" as *;
@use "@styles/variables";

.root {
  display: flex;
}

.navigation {
	&__list {
		display: flex;
		gap: 32px;
		font-size: 16px;
		font-weight: 500;

		@include tablet {
			flex-direction: column;
		}
	}
}
