/* stylelint-disable */

// breakpoints
$desktop: 1440px;
$tablet: 1200px;
$tablet-small: 768px;
$mobile-large: 480px;
$mobile: 360px;

// retina
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// transitions
$transition-duration: 0.3s;
$transition-timing-function: ease;
$transition: $transition-duration $transition-timing-function;
