@use "@styles/func";
@use "@styles/mixins" as *;
@use "@styles/variables";

.root {
	display: flex;
	flex-direction: column;
	gap: 56px;
	max-width: 1312px;

	@include desktop {
		max-width: 1128px;
	}

	@include tablet {
		max-width: 744px;
	}

	@include tablet-small {
		gap: 32px;
	}

	.page {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 20px;

		&Title {
			font-family: var(--font-inter);
			font-size: 64px;
			font-weight: 500;
			line-height: 150%;
			text-align: center;
			color: #16181B;
		}
	}

	.text {
		font-family: var(--font-inter);
		font-size: 32px;
		font-weight: 400;
		line-height: 150%;

		margin-bottom: -36px;

		color: rgba(22, 24, 27, 0.8);

		max-width: 960px;

		@include tablet {
			max-width: 744px;
		}

		@include tablet-small {
			max-width: 336px;

			font-size: 20px;
		}

		&Bold {
			font-weight: 600;
			color: #CB172C;
		}
	}
}
