@use "@styles/func";
@use "@styles/mixins" as *;
@use "@styles/variables";

.root {
	display: flex;
	position: absolute;
	bottom: 0;
	z-index: -1;

	@include tablet {
		width: 600px;
		height: 400px;
	}

	@include tablet-small {
		width: 340px;
		height: 340px;
	}
}
