@use "@styles/func";
@use "@styles/mixins" as *;
@use "@styles/variables";

.root {
	display: flex;
}

.peoples {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 42px;
	max-width: 1230px;
	margin: 0 auto;
	align-items: center;
	text-align: center;

	@include desktop {
		max-width: 1050px;
	}

	@include tablet {
		font-size: 42px;
	}

	@include tablet-small {
		text-align: left;
		padding: 0 12px;
	}

	&__title {
		font-size: 54px;
		line-height: 120%;
		font-weight: 500;

		@include tablet {
			font-size: 42px;
		}

		@include tablet-small {
			font-size: 28px;
		}
	}

	&__image__first {
		transform: translateX(-30%);
		width: auto;

		@include desktop {
			width: auto;
			height: 468px;
		}

		@include tablet {
			width: 314px;
			height: 354px;
		}

		@include tablet-small {
			width: 200px;
			height: 225px;
		}
	}



	&__image__second {
		position: absolute;
		transform: translateX(-10%);
		left: 50%;
		bottom: 0;
		width: auto;

		@include desktop {
			width: auto;
			height: 453px;
		}

		@include tablet {
			width: 336px;
			height: 342px;
		}

		@include tablet-small {
			width: 226px;
			height: 229px;
		}
	}

	&__card {
		display: flex;
		flex-direction: column;
		gap: 24px;
		position: absolute;

		@include tablet {
			gap: 16px;
		}

		@include tablet-small {
			position: static;
		}

		button {
			@include tablet {
				width: 160px;
				height: 46px;

				padding: 14px 18px;
				font-weight: 600;
				font-size: 12px;
			}
		}

		&__left {
			text-align: right;
			left: 0;
			bottom: 90px;

			@include tablet-small {
				align-self: flex-start;
			}
		}

		&__right {
			text-align: left;
			right: 0;
			bottom: 90px;

			@include tablet-small {
				align-self: flex-end;
			}
		}

		&__title {
			font-size: 22px;
			line-height: 150%;
			font-weight: 600;
			color: black;

			@include desktop {
				font-size: 18px;
			}

			@include tablet {
				font-size: 16px;
			}
		}

		&__text {
			font-size: 18px;
			line-height: 150%;
			font-weight: 500;
			color: black;
			opacity: 0.5;

			@include desktop {
				font-size: 16px;
			}

			@include tablet {
				font-size: 14px;
			}
		}
	}
}
