@use "@styles/func";
@use "@styles/mixins" as *;
@use "@styles/variables";

.root {
	display: flex;
}

.peoples {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 42px;
	max-width: 1230px;
	margin: 0 auto;
	align-items: center;
	text-align: center;

	@include tablet {
		font-size: 42px;
	}

	@include tablet-small {
		text-align: left;
	}

	&__title {
		font-size: 54px;
		line-height: 120%;
		font-weight: 500;

		@include tablet {
			font-size: 42px;
		}

		@include tablet-small {
			font-size: 28px;
		}
	}

	&__image {
		max-width: 910px;

		@include tablet {
			max-width: 541px;
			max-height: 354px;
		}

		@include tablet-small {
			max-width: 336px;
			max-height: 229px;
		}
	}

	&__card {
		display: flex;
		flex-direction: column;
		gap: 24px;
		position: absolute;

		&__left {
			text-align: right;
			left: 0;
			bottom: 90px;
		}

		&__right {
			text-align: left;
			right: 0;
			bottom: 90px;
		}

		&__title {
			font-size: 22px;
			line-height: 150%;
			font-weight: 600;
			color: black;

			@include desktop {
				font-size: 18px;
			}

			@include tablet {
				font-size: 16px;
			}
		}

		&__text {
			font-size: 18px;
			line-height: 150%;
			font-weight: 500;
			color: black;
			opacity: 0.5;

			@include desktop {
				font-size: 16px;
			}

			@include tablet {
				font-size: 14px;
			}
		}
	}
}
