/* stylelint-disable selector-class-pattern */
/* stylelint-disable color-function-notation */
@use "@styles/func";
@use "@styles/mixins" as *;
@use "@styles/variables";

.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: #00000030;
	z-index: 1000;
	display: flex;
	justify-content: center;
	align-items: center;
	backdrop-filter: blur(15px);

	&__content {
		background-color: white;
		border-radius: 40px;
		padding: 20px;

		width: 100%;
		max-width: 1088px;
		height: 85vh;
		max-height: max-content;

		box-shadow: 0 0 10px rgba(0, 0, 0, 25%);
		position: relative;

		overflow: hidden auto;

		display: flex;
		flex-direction: column;

		@include tablet-small {
			padding: 12px;

			max-width: 336px;
			max-height: 671px;

			border-radius: 20px;
		}

		/* Hide scrollbar for Chrome, Safari and Opera */
		&::-webkit-scrollbar {
			display: none;
		}

		/* Hide scrollbar for IE, Edge and Firefox */
		-ms-overflow-style: none;  /* IE and Edge */
		scrollbar-width: none;  /* Firefox */

		.close {
			width: 39px;
			height: 39px;
			position: fixed;
			cursor: pointer;
			background: center no-repeat url("../../shared/assets/icons/close_modal.svg");
			z-index: 10000;

			align-self: flex-end;

			@include tablet-small {
				width: 28px;
				height: 28px;
				background-size: 28px 28px;
			}
		}

		.content {
			height: max-content;
		}
	}
}
