@use "@styles/func";
@use "@styles/mixins" as *;
@use "@styles/variables";

.root {
	display: flex;
	gap: 32px;

	position: sticky;
	top: 50px;

	max-width: 1312px;
	width: 100%;

	@include tablet {
		max-width: max-content;
		flex-direction: column;
	}

	@include tablet-small {
		max-width: 336px;
		position: static;

		gap: 16px;

		top: auto;
	}

	&__title {
		font-family: var(--font-inter);
		font-size: 42px;
		font-weight: 500;
		line-height: 150%;
		letter-spacing: 0;
		color: var(--color-black);

		@include tablet-small {
			font-size: 32px;
		}
	}

	.content {
		display: flex;

		@include tablet-small {
			flex-direction: column;
		}

		&__item {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 21px 28px;

			border-radius: 48px;

			border: 1px solid #FFF;

			background-color: #FFF;

			transition: all 1s ease;

			color: rgba(22, 24, 27, 0.8);

			font-family: var(--font-inter);
			font-size: 20px;
			font-weight: 500;
			line-height: 150%;
			letter-spacing: 0;
			cursor: pointer;

			a {
				text-decoration: none;
				color: inherit;
			}

			@include tablet-small {
				font-size: 16px;

				padding: 20px auto;

				width: 100%;
			}

			&:hover,
			&:focus,
			&.active {
				background-color: var(--color-red-accent);
				color: white;
				border: 1px solid var(--color-red-accent);
				opacity: 1;
			}
		}
	}
}
