@use "@styles/func";
@use "@styles/mixins" as *;
@use "@styles/variables";

.root {
	display: flex;
	margin: 0 0 139px;
}

/* stylelint-disable */

.favour {
	width: 100%;
	text-align: center;
	margin: 0 auto;
	max-width: 1312px;

	&__list {
		display: flex;
		width: 100%;
		gap: 32px;
		justify-content: center;

		@include desktop {
			gap: 24px;
		}

		@include tablet {
			flex-wrap: wrap;
		}

		@include mobile-large {
			gap: 12px;
		}
	}

	&__item {
		width: 100%;
		padding: 38px 0 35px;
		border-radius: 22px;

		background-color: var(--color-black);
	}

	&__title {
		font-style: 1.8rem;
		text-align: center;

		@include mobile-large {
			font-size: 24px;
		}
	}

	&__description {
		font-size: 1.25rem;
		color: var(--color-white-default);
	}
}
