@use '@styles/func';
@use '@styles/mixins' as *;

.root {
  position: relative;
  width: 100%;
  background-color: var(--color-white-default);

  strong {
    font-weight: 500;
  }
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: func.rem(32);
  padding-bottom: func.rem(32);

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: 1312px;
    width: 100%;
    margin: 0 20px;

		@include tablet-small {
			flex-direction: column;
      align-items: flex-start;
      gap: 20px;
		}
  }
}
