@use '@styles/func';
@use '@styles/mixins' as *;

.root {
  position: relative;
  width: 100%;
  padding-top: func.rem(24);
  padding-bottom: func.rem(32);
  color: var(--color-black);
  background-color: var(--color-white-default);

  @include tablet-small {
    padding-top: 0;
  }
}

.wrapper {
  display: flex;
  justify-content: center;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: 1312px;
    width: 100%;
    margin: 0 20px;

		@include tablet-small {
			flex-direction: column;
      align-items: flex-start;
      gap: 20px;
		}
  }
}

.information {
  display: flex;
  flex-direction: column;
  gap: 12px;

  &__list {
    display: flex;
    gap: 8px;
  }

  &__text {
    font-size: 14px;
    line-height: 170%;
    font-weight: 500;

    color: #A8A8A8;
  }

  &__policy {
    font-size: 14px;
    line-height: 170%;
    font-weight: 600;

    color: #585858;
    text-decoration: underline;
  }
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 48px;

  font-size: 16px;
  line-height: 170%;
  font-weight: 600;

  text-align: right;

  @include tablet-small {
    text-align: left;
    gap: 16px;
  }

  &__phone {
    display: flex;
    flex-direction: column;
    gap: 8px;

    color: #4D4D4D;
  }

  &__mail {
    color: #898989;
  }
}
