name: Deploy to Server

on:
  push:
    branches: [ master, main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
    - name: Deploy to server
      uses: appleboy/ssh-action@v0.1.5
      with:
        host: 95.164.89.84
        username: root
        key: ${{ secrets.SERVER_SSH_KEY }}
        script: |
          /var/www/deploy.sh
